<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button *ngIf="bkButton" slot="start" defaultHref="/" text=""></ion-back-button>
    <!--<ng-content></ng-content>
    <ion-img *ngIf="bkButton" slot="end" class="ion-margin-end" style="width: 90px;" src="../../../../assets/img/logoPaguifon.png"></ion-img>-->
  </ion-toolbar>
</ion-header>

<style>
  ion-toolbar {
    --opacity: 0;
    padding: 10px 8px;
  }

  ion-back-button {
    background: transparent;
    background-color: #FF0054;
    color: #fff;
    height: 50px;
    width: 50px;
    border: solid #fff;
    border-radius: 10px;
  }

  /*ion-back-button {
    --background: transparent;
    --color: #FF0054;
    --height: 50px;
    --width: 50px;
    --border-radius: 5px;
  }

  ion-toolbar {
    border-top: 20px solid #FF0054;
    --background: white !important;
  }

  ion-title {
    --opacity: 1;
    color: black;
    font-size: small;
  }*/
</style>