<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap" rel="stylesheet">
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
      <ion-title><b style="text-decoration: none;" (click)="openPagui()">paguifon.com.mx</b></ion-title>
  </ion-toolbar>
</ion-footer>

<style>
  ion-toolbar {
    --opacity: 0;
    border-bottom: 10px solid #FF0054;
  }

  ion-title {
    color: #fff;
    font-size: medium;
    text-shadow: 2px 2px #FF0054;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../../../assets/fonts/Montserrat-Medium.ttf");
  }

  * {
    font-family: "Montserrat";
    font-weight: 600 !important;
  }
</style>